body{
  background-color: #6699CC;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav{
  background-color: #FFE19C;
}

#quote-box{
  background-color: #FFE19C;
  box-shadow: -5px 5px 10px #DB9D47;
}

/* #new-quote{
  background-color: #FF3C38;
  border: 1px solid #FF3C38;
} */


